
#notificacion{
    width: 50%;
    margin: 0 25%;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.noti-editar p, .noti-crear p, .noti-eliminar p, .noti-noti p{

    width: 100%;
    height: 100%;

    padding: .5rem;
    font-size: 1.3rem;
    margin: 0;

    text-align: center;
}

.noti-crear p{
    background-color: lightgreen;
    border:#00a00d 2px solid;
}

.noti-editar p{
    background-color: lightyellow;
    border: #FFDB58 2px solid;
}

.noti-eliminar p{
    background-color: lightcoral;
    border:red 2px solid;
}

.noti-noti p{
    background-color: lightcyan;
    border: blue 2px solid;
}

.invalido{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.css-alerta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.texto-alerta{
    margin: 0.5rem auto;
    font-size: x-large;
}
